<h2>todo-list</h2>

<input type="text" placeholder="add a ToDo" [(ngModel)]="inputTodo" (keyup.enter)="addTodo()">
<input type="submit" value="Add Todo" (click)="addTodo()">
<div *ngFor="let todo of todos; let i = index;">
    <div>
        <input (click)="toggleDone(i)" type="checkbox" *ngIf="todo.completed" checked="checked">
        <input (click)="toggleDone(i)" type="checkbox" *ngIf="!todo.completed">
        <span *ngIf="!todo.edit" (dblclick)="setEdit(i)">{{todo.name}}</span>
        <!-- <input [(ngModel)]="editingTodo" (keyup.enter)="editTodo(i)" type="text" value="{{todo.name}}"> -->
        <input *ngIf="todo.edit" #editText (keyup.enter)="editTodo(i, editText.value)" type="text" value="{{todo.name}}">
        <span (click)="deleteTodo(i)"> X</span>
    </div>
    
</div>
